.nav_buttons{
  justify-self: flex-end;
  display:flex;
  flex-flow: row wrap;
  place-content: space-between center;
}

.toolbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.buttonAndText{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.navButtons{
  margin-right: 1rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.button{
  margin:0 0.5rem;
}

.openModal_button{
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #1976d2;
  color: white;
}

.openModal_button:hover{
  background-color: #1262ba
}